th{
    border: 1px solid darkcyan;
    color: white;
}
tr:nth-child(even) {
    background: rgb(239, 252, 252)
}
table{
    border-collapse: collapse;
    width: 80%;
}
th{
    background-color: darkcyan;
}
tr:hover{
    background-color: rgb(216, 250, 250);
}
table{
    border-bottom: 1px solid darkcyan;
}   